/******************************폰트******************************/
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
/*    
.reg_box{
    min-width: 1400px;
} */

/******************************회원가입******************************/
body{
    background-color: #fcffcb;
}
.reg_box{
    width: 440px;
    margin: 0 auto;
}
.reg_title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
.inner_reg{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid #22974a;
    margin-top: 14px;
    border-radius: 25px;
}
.form_sec{
    width: 300px;
}
label{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 17px;
}
.reg_text, .gender_box{
    padding: 0px 7px;
    background-color: transparent;
    outline: none;
    border: 1px solid #22974a;
    border-radius: 5px;
    height: 28px;
    width: 300px;
    margin-top: 4px;
    box-sizing: border-box;
    font-size: 11px;
}

.gender_box{
    background-color: transparent;
    height: 28px;
}
#reg_gender{
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 12px;
    font-size: 11px;
    padding-top: 5px;
    outline: none;
}
/* 성별텍스트 */
.gender_txt{
    margin-top: 7px;
    font-size: 14px;
    font-weight: 700;
}
.form_sec p,.form_sec span{
    display: inline;
    font-size: 10px;
}
label:nth-last-child(1){
    display: inline-block;
    margin-top: 0px;
    font-size: 10px;
}
/* 체크박스 */
.promo_btn_img{
    display: inline-block;
    background: url(../img/terms/m_chcek_off_s_20.png) no-repeat center / contain;
    width: 15px;
    cursor: pointer;
    height: 15px;
    position: relative;
    top: 3px;
    left: 5px;
}
#promo_btn{
    display: none;
}
#promo_btn:checked+label>.promo_btn_img{
    background: url(../img/terms/m_chcek_on_s.png) no-repeat center / contain;
}
/* 가입 버튼 */
#reg_btn_agr{
    display: inline-block;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    background-color: #22974a;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    border: none;
    cursor: pointer;
    margin: 15px 0;
}
/*조건 미충족시 메세지*/
.reg_msg{
    margin-top: 2px;
    font-size: 10px;
    font-weight: 700;
    color: #22974a;
}


